.vibro-container {
    width: 920px;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
  }
  
  .vibro-title {
    text-align: center;
  }
  
  .vibro-subtitle {
    text-align: center;
    margin-top: 8px;
  }
  
  .vibro-selects {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
  }
  
  .vibro-selects select {
    padding: 8px;
    width: 100%;
  }
  
  .vibro-block {
    margin-top: 16px;
  }
  
  .vibro-info {
    margin-top: 8px;
  }
  
  .vibro-graph-table {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 16px;
    align-items: start;
    margin-top: 16px;
  }
  
  .vibro-footer {
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 16px;
  }
  
  /* -------------------- */
  /*   АДАПТИВ ДО 1024px  */
  /* -------------------- */
  @media (max-width: 1024px) {
    .vibro-container {
      width: 100%;
      padding: 12px;
    }
  
    .vibro-graph-table {
      display: flex;
      flex-direction: column;
    }
  
    .vibro-blockA,
    .vibro-blockB {
      display: flex;
      flex-direction: column;
    }
  
    .vibro-info {
      order: 3;
    }
  
    /* порядок следования */
    .vibro-title {
      order: 1;
    }
  
    .vibro-blockA {
      order: 2;
    }
  
    .vibro-blockB {
      order: 3;
    }
  
    .vibro-chart {
      order: 4;
    }
  
    .vibro-table {
      order: 5;
    }
  
    .vibro-conclusion {
      order: 6;
    }
  
    .vibro-footer {
      order: 7;
      flex-direction: column;
      gap: 10px;
    }
  }
  